body {
  font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
}

.page-header {
  margin-bottom: 25px;
  text-align: right;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  font-size: 4em;
}

.page-sub-header {
  margin-top: -25px;
  text-align: right;
  vertical-align: top;
  font-style: italic;
}

/* Fancy first letter of paragraph */
.styled-letter {
  border-style: solid;
  font-size: 3em;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 3px;
  vertical-align: bottom;
}

/* Sidebar styling */
.sidebar {
  position: fixed;
  /* height: 100vh; */
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /*  Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  background-color: lightcyan;
}

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
  text-align: right;
  padding-right: 10px;
}

.nav-link {
  font-size: 1.25em;
}

a:hover {
  color: teal;
  text-decoration: none;
}

.nav {
  margin-top: 50px;
}

.nav-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-item:hover {
  background-color: darkcyan;
}

.nav-item a:hover {
  color: lightcyan;
}

#pageSubmenu {
  background-color:teal;
  margin-top: -30px;
}

#pageSubmenu a{
  color: lightcyan;
  text-align: right;
}

#pageSubmenu a:hover{
  background-color: darkcyan;
}
/* End of sidebar styling */

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 120px;
  width: 120px;
  line-height: 120px;

  border-radius: 20px; /* or 50% */

  background-color: black;
  color: lightcyan;
  text-align: center;
  font-size: 5em;
}

.icon {
  margin-top: auto;
  margin-bottom: auto;

  height: 60px;
  width: 60px;
  line-height: 60px;

  border-radius: 10px; /* or 50% */

  background-color: black;
  color: lightcyan;
  text-align: center;
  font-size: 2em;
  
}

#profile-ph {
  height: 300px;
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
}

/* Contact page */
.contact-link {
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 20px;
}

.contact-link a {
  color: black;
  border-bottom: solid;
  border-bottom-width: 2px;

  text-align: right;
  width: 400px;
  display: block;
}

.contact-row {
  height: 80px;
}
/* End of Contact Page */

/* Portfolio Page */
.portfolio-ph {
  margin-right: 30px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: lightcyan;
}

.portfolio-ph:hover {
  border-style: solid;
  border-width: 2px;
  border-color: darkcyan;
}

.portfolio-header {
  text-align: right;
  border-bottom-style: solid;
  border-bottom-width: 2px; 
  margin-bottom: 0px;
}

.port-sub-heading {
  text-align: right;
  vertical-align: top;
  font-style: italic;
}

.portfolio-sep {
  border-bottom: solid;
  border-bottom-width: 2px;
  margin-bottom: 10px;
  border-bottom-color: lightcyan;
}

/* End of Portfolio Page */